.content {
  line-height: 2.4;
  font-size: 13px;
  padding: 20px;
  margin:20px 0;
  background: #fff;
  border: 1px #e9e9e9 solid;
}

.dateNote {
	background-color: #ddd;
	height: 40%;
	width: 100%;
	margin: 10% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.hover:hover{
	cursor: pointer;
	text-decoration: underline;
}

.dateNote p {
	font-size: 14px;
}

.timeModalContent {
	display: flex;
	justify-content: space-around;
	.morning,
	.afternoon {
		margin-bottom: 15px;
		flex:1;
		p ,span{
			text-align: center;
			width: 100%;
		}
	}
	.RadioButton {
		width: 95%;
		box-sizing: border-box;
		margin: 5px auto;		
	    border-radius: 0;
	    border-left: 1px solid #e5e5e5;
	}
}

:global {
	.ant-fullcalendar-fullscreen .ant-fullcalendar-header .ant-radio-group {
		display: none;
	}
}

.block{
  width: 100%;
}

.textLeft{
  text-align: left;
  margin-top:8px;
  margin-left:10px;
}

.cycleImg{
  width:60px;
  height:60px;
  border-radius: 50%;
}

.rowBottom{
  border-bottom: 1px solid #f4f4f4; 
  padding-top: 20px;
}

.textCenter{
  text-align: center;
}

.marginBottom{
	margin-bottom: 16px;
}

.mt10{
	margin-top:10px;
}

.mb10{
	margin-bottom:10px;
	width:145px;
}
