.td-item {
    widows: 68px;
    height: 40px;
}
.layui-layer.promp{
    width: 420px;
    height: 240px;
    background-color: #81BA25;
    box-shadow: none;
    color: #fff;
}
.layui-layer-dialog .layui-layer-input {
    display: block;
    width: 220px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1) inset;
    color: #333;
}
.WordSection1>div {
    height: auto !important;
}
